Source: wigtoad
Section: utils
Priority: optional
Maintainer: Steve Sixty-Four <steve8x8@googlemail.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.8.6

Package: wigtoad
Architecture: all
Depends: ruby (>= 1.9.1), libruby | libopenssl-ruby
Recommends: geotoad
Description: wherigo download tool
 WigToad wants to help speed up the boring part of wherigos:
 downloading and maintaining the cartridges.
 It takes input collected by GeoToad.
 Still in early alpha stage.
